table {
    height: 500px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.cartTitle {
    color: #9795f0;
    text-align: center;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin-bottom: 0;
}

.btn1 {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    margin-right: 20px;
}

.btn2 {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.btn1:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to top,
            #9795f0 0%,
            #fbc8d4 100%) !important;
}

.btn2:hover {
    transform: scale(1.1);
    background-image: linear-gradient(to top,
            #9795f0 0%,
            #fbc8d4 100%) !important;
}