.payment {
  margin-top: 20px;
}

.payment__input {
  width: 250px;
  height: 40px;
  margin: 10px;
  /* border-radius: 5px; */
  border-radius: 8px;
  border: 0;
  border-bottom: 1px solid black;
}

.pay__btn {
  border-style: none;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.pay__btn:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to top,
      #9795f0 0%,
      #fbc8d4 100%) !important;
}